  @media (max-width: 1500px) {
    .container {
      max-width: 1140px;
    }
    .iphoneMockup {
      height: 550px;
    }
    .notchMockup {
      width: 130px;
    }
    .phoneScreen {
      height: 515px;
      width: 238px;
    }
  }

  @media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .hero p {
        font-size: 30px;
    }

  }
  @media (max-width: 1100px) {
    .btn--emphasized {
        padding: 10px 30px;
    }
    .why .block .img-container img {
        width: 140px;
    }
  }
  @media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .hero .flex-wrapper {
        height: unset;
        max-height: unset;
        min-height: 100vh;
    }
    .hero .title-bg {
        width: 100%;
        padding: 30px;
    }
    .hero .hero-img {
        width: 100%;
    }
    .hero .title-bg img {
        width: 60%;
    }
    .hero .title-bg p {
        font-size: 20px;
    }

    .data {
        padding: 40px 0;
    }
    .data .value {
        font-size: 38px;
    }
    .data .name {
        font-size: 18px;
    }

    .why .block {
        width: 100%;
        padding: 20px 0 !important;
    }
    .why .block .img-container {
        width: 170px;
    }
    .why .block .img-container img {
        margin-left: -45px;
    }
    .why .block .text-container {
        width: calc(100% - 170px);
    }

    .phone .container > .flex-wrapper > div {
        width: 100%;
        padding: 20px 5px;
    }
    
    .iphone::before{
        top: 20px;
        height: 410px;
        width: 200px;
        margin: 1px auto;
        border-radius: 30px;
    }
    .iphoneMockup {
        height: 413px;
    }
    .notchMockup {
        top: 20px;
        width: 100px;
        margin: 13.5px auto;
    }
    .phoneScreen {
        top: 20px;
        height: 385px;
        width: 178px;
        margin-top: 14px;
        border-radius: 20px;
    }

    .left-functions .function {
        justify-content: flex-start;
        text-align: left;
    }

    .left-functions .function > img {
        order: 1;
    }
    .left-functions .function > div {
        order: 2;
        padding-right: 0;
        padding-left: 15px;
    }

    .questions .img-wrapper {
        order: 2;
        width: 100%;
        text-align: center;
        padding: 60px;
        padding-bottom: 0;
    }
    .questions .questions-wrapper {
        order: 1;
        width: 100%;
    }

    .node .video-wrapper {
        order: 1;
        width: 100%;
        text-align: center;
    }
    .node iframe {
        width: 100%;
    }
    .node .node-text {
        order: 2;
        width: 100%;
    }
    .node .btn {
        margin-left: auto;
    }

    .ecosystem .flex-wrapper > div {
        padding: 40px;
        width: 50%;
    }
  }
  @media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .about-text {
        width: 100%;
        padding: 0;
        font-size: 20px;
    }
    .about .img-wrapper {
        width: 100%;
        padding-top: 40px;
    }
    .about .img-wrapper img {
        width: 70%;
        margin-left: 30px;
    }
    
    .data .block {
        width: 50%;
        padding: 20px 0;
    }

    .why .block {
        padding: 20px !important;
    }
    .why .block .img-container {
        width: 100%;
    }
    .why .block .img-container img {
        margin-left: 0;
    }
    .why .block .text-container {
        width: 100%;
        padding: 0;
    }
    .why p {
        font-size: 16px;
    }
    .why p em {
        font-size: 18px;
    }
    
    .background-circles::before {
        background-size: 1000px !important;
    }

    .questions .img-wrapper img {
        width: 100%;
    }

    .partners .flex-wrapper > div {
        width: 50%;
    }

    .ecosystem .flex-wrapper > div {
        padding: 20px;
    }
  }

  @media (max-width: 575px) {
    .container {
        max-width: unset;
    }
    .section-title h2 {
        font-size: 22px;
    }
    .section-title hr {
        width: 120px;
    }
    h3 {
        font-size: 20px;
    }
    h4, p {
        font-size: 16px;
    }
    .btn {
        font-size: 18px;
        margin-top: 10px;
    }

    .data .block {
        padding: 15px 0;
    }
    .data .value {
        font-size: 36px;
    }
    .data .name {
        font-size: 16px;
    }

    .about-text {
        font-size: 20px;
    }
    img.shard-art {
        width: 70%;
        margin-top: 40px;
    }

    .why img {
        width: 130px;
        height: 130px;
    }

    .function {
        padding: 15px;
    }
    .function h4 {
        font-size: unset;
    }
    .function p {
        font-size: 14px;
    }

    .node-text h3 {
        margin-top: 40px;
    }

    .questions .img-wrapper {
        padding: 50px 10px;
        padding-bottom: 0;
    }

    .partners .flex-wrapper > div {
        padding: 30px 20px;
    }
    .partners img {
        width: 100%;
    }

    .ecosystem h4 {
        font-size: unset;
    }
    .ecosystem .flex-wrapper > div {
        width: 100%;
    }

    .spotlight-text {
        margin: 0;
    }

  }
