
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

:root {
  --gradient: linear-gradient(180deg, #298698 0%, #003E53 100%);
  --text-dark: #0A3A3C;
  --text-grey: rgba(0, 0, 0, 0.6);
  --text-light: #F2F2F2;
  --bg-light: #F0F6F6;

  --shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  --shadow-hover: 0px 8px 28px 0px rgba(0,0,0,.1), 0px 15px 20px 0px rgba(0,0,0,.1);

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  cursor: default;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding-bottom: 60px;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 70px;
  text-align: center;
}

.section-title h2 {
  font-size: 32px;
  color: var(--text-dark);
  text-transform: uppercase;
  margin-bottom: 0;
}

.section-title hr {
  width: 150px;
  border-top: 6px solid;
  border-color: var(--text-dark);
  border-style: solid;
}

.inverse {
  color: white !important;
  border-color: white !important;
}

.hero {
  padding: 0;
}

.hero .flex-wrapper {
  height: 100vh;
  max-height: 56.25vw;
  align-items: initial;
  background: var(--bg-light);
}

.hero .flex-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .title-bg {
  width: 40%;
  background: var(--gradient);
  color: white;
  padding: 20px;
}

.hero .hero-img {
  width: 60%;
  overflow: hidden;
}

.hero .hero-img img {
  width: 100%;
}

.hero p {
  font-size: 36px;
  color: white;
  font-weight: 400;
  margin: 0;
  line-height: 110%;
}

.hero h1 {
  font-size: 38px;
  color: white;
  font-weight: 600;
  margin: 0;
  line-height: 110%;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
}

.join-btn {
  background: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  color: var(--text-dark);
  margin-top: 20px;
}

.join-btn:hover {
  cursor: pointer;
  background: #F0F0F0;
}


.about-text {
  width: 70%;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-dark);
  text-align: justify;
  padding-right: 80px;
}
.about .img-wrapper {
  width: 30%;
  text-align: center;
}
.about .img-wrapper img {
  width: 100%;
}


.data {
  padding: 60px 0;
  background: var(--bg-light);
}

.data .flex-wrapper {
  justify-content: space-around;
}

.data .block {
  padding: 10px 20px;
}

.data .value {
  font-size: 48px;
  font-weight: 900;
  background: -webkit-linear-gradient(#298698, #003E53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.data .name {
  font-size: 22px;
  font-weight: 500;
  color: var(--text-grey);
  text-align: center;
}

.why .block {
  width: 33.3%;
  padding: 0 50px;
  text-align: center;
}

.why p {
  font-size: 24px;
  color: var(--text-dark);
  font-weight: 600;
  text-align: justify;
  margin-top: 30px;
}

.why span {
  font-size: 18px;
  font-weight: 400;
}


.phone {
  background: var(--gradient);
}

.phone .container > .flex-wrapper > div {
  width: 33.3%;
  padding: 0 20px;
  z-index: 1;
}

.iphone {
  text-align: center;
}

.iphone img {
  height: 550px;
}

.left-functions .function {
  justify-content: flex-end;
  text-align: right;
}

.left-functions .function div { padding-right: 15px; }
.right-functions .function div { padding-left: 15px; }


.function h4 {
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin: 0 0 4px 0;
}
.function p {
  font-size: 14px;
  color: white;
  font-weight: 500;
  margin: 0;
  line-height: 100%;
}


.function {
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
}

.function:hover {
  cursor: pointer;
  border: solid 0px white;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
}

.active, .active:hover {
  background: white;
  transition: all .3s;
}
.active p, .active h4 {
  color: var(--text-dark);
}

.phone .background-circles::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible !important;
  background: url(../images/phone/background-circles.svg);
  background-size: 1300px;
  background-position: center;
  background-repeat: no-repeat;
}

.node-text {
  width: 60%;
}

.node .video-wrapper {
  width: 40%;
  text-align: right;

}
.node iframe {
  width: 400px;
  height: 280px;
}

.node h3 {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: 600;
}

.node p {
  color: var(--text-grey);
  font-size: 20px;
  text-align: justify;
  font-weight: 500;
}

.node-btn {
  background: var(--gradient);
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 10px;
}

.node-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.questions {
  background: var(--bg-light);
}

.questions .img-wrapper {
  width: 50%;
  padding-right: 2vw;
}
.questions-wrapper {
  width: 50%;
}

.questions h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--text-dark);
  margin-bottom: 20px;
}

.questions p {
  font-size: 18px;
  text-align: justify;
  color: var(--text-grey);
}

.partners img {
  margin: 0 60px 50px 60px;
}


.ecosystem {
  background: var(--bg-light);
}

.ecosystem .card {
  background: var(--gradient);
  margin: 20px 30px;
  width: 320px;
  height: 280px;
  box-shadow: var(--shadow);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1)
}

.ecosystem .card:hover {
  box-shadow: var(--shadow-hover);
  transition: .3s;

}

.ecosystem h3 {
  color: white;
  font-size: 24px;
  text-align: center;
}


.spotlight {
  background: var(--gradient);
  position: relative;
  padding-bottom: 80px;
}


.spotlight-text {
  color: var(--text-light);
  font-size: 18px;
  text-align: justify;
  width: 420px;
  margin-left: 20px;
}

.spotlight img:hover {
  filter: brightness(1000%);
  cursor: pointer;
}

.zgen-desc {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(#298698, #003E53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  text-align: center;
}
